<a class="" [routerLink]="'wsdemo'">click wsdemo </a>
<router-outlet></router-outlet>
<!-- <table class="table">
  <thead>
   
  <tbody>
    <tr  *ngFor="let t of data; index as i">

      <td >
        {{t.area}}
      </td>

      <td *ngFor="let c of data[i].currencies | keyvalue">
        {{c.key}}
      </td>
     
    </tr>
    </tbody>
    </table>

    <div class="button_action_panel">
      <button class="excel_download" (click)="actoinDownload('excel')">Excel Download</button>
      <button class="pdf_download" (click)="actoinDownload('pdf')">Pdf Download</button>
    </div> -->
    
    <!-- web socket demo -->
    <!-- <a class="" [routerLink]="'wsdemo'">click wsdemo </a>
    <h1>{{someValue | squareTransform:10.5}}</h1> -->

    <!-- <app-testcomp></app-testcomp> -->

    <!-- <app-reuabletable [columnHeader]="columnHeader"
    [tableData]="tableData"></app-reuabletable> -->
    


    